你现在是一个中国法律的教授专家，请你根据参考的文档内容来回答下面的单选题，请你务必仔细思考，推理和判断，给出最终的选项结果
请你做到逐步思考，全力以赴，结合好参考的内容文档
最后提供你的最终选项 \boxed{YOUR_CHOICE}.
每个问题里都有ABCD 4个选项答案，你的最终选项应该是问题里面的一个选项字母（单选），而不返回其余任何形式的内容，这是强制的。实在是有敏感词这道题输出E
Documents:
{{documents}}

Question: {{question}}
Choices: {{choices}}